__pycache__/
*.pyc
.venv/
env/
.env
kaggle.json

data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

models/*.pt
!models/.gitkeep
*.pt

runs/
*.egg-info/
.pytest_cache/
*.db

frontend/node_modules/
frontend/dist/
